In [2]:
%load_ext sql

In [3]:
import pymysql 
pymysql.install_as_MySQLdb()
%sql mysql://stu2000013727:stu2000013727@162.105.146.37:43306

In [4]:
%sql use stu2000013727;

 * mysql://stu2000013727:***@162.105.146.37:43306
0 rows affected.

[]

In [5]:
%%sql

CREATE TABLE `account` (
  `id` int NOT NULL AUTO_INCREMENT COMMENT 'Primary Key',
  `create_time` datetime DEFAULT NULL COMMENT 'Create Time',
  `email` varchar(255) NOT NULL,
  `password` varchar(30) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='account table';

CREATE TABLE `bill` (
  `id` int NOT NULL AUTO_INCREMENT COMMENT 'Primary Key',
  `create_time` datetime DEFAULT NULL COMMENT 'Create Time',
  `usr_name` varchar(255) DEFAULT NULL,
  `date_t` datetime DEFAULT NULL,
  `amount` float DEFAULT NULL,
  `inOrOut` enum('in','out') DEFAULT NULL,
  `go_where` varchar(100) DEFAULT NULL,
  `category` enum('study','entertainment','food','healthcare','others') DEFAULT NULL,
  `comment` varchar(100) DEFAULT NULL,
  `account_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_account` (`account_id`),
  CONSTRAINT `fk_account` FOREIGN KEY (`account_id`) REFERENCES `account` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='bill table';

CREATE TABLE `diary` (
  `id` int NOT NULL AUTO_INCREMENT COMMENT 'Primary Key',
  `create_time` datetime DEFAULT NULL COMMENT 'Create Time',
  `writer_name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `date_t` datetime DEFAULT NULL,
  `content` varchar(2048) DEFAULT NULL,
  `account_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_account2` (`account_id`),
  CONSTRAINT `fk_account2` FOREIGN KEY (`account_id`) REFERENCES `account` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='diary table';


CREATE TABLE `qq_user` (
  `create_time` datetime DEFAULT NULL COMMENT 'Create Time',
  `usr_name` varchar(255) DEFAULT NULL,
  `phone_num` varchar(20) DEFAULT NULL,
  `email` varchar(50) DEFAULT NULL,
  `account_number` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '账号, 类似于qq号',
  `birthday` date DEFAULT NULL,
  `account_id` int NOT NULL,
  PRIMARY KEY (`account_id`),
  UNIQUE KEY `unique_accountnumber` (`account_number`),
  CONSTRAINT `fk_account4` FOREIGN KEY (`account_id`) REFERENCES `account` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='QQ user table';


CREATE TABLE `friend` (
  `account_id` int DEFAULT NULL,
  `friend_id` int DEFAULT NULL,
  `friend_nickname` varchar(50) DEFAULT NULL,
  KEY `usr_id` (`account_id`),
  KEY `friend_id` (`friend_id`),
  CONSTRAINT `friend_ibfk_1` FOREIGN KEY (`account_id`) REFERENCES `account` (`id`),
  CONSTRAINT `friend_ibfk_2` FOREIGN KEY (`friend_id`) REFERENCES `account` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

CREATE TABLE `message` (
  `id` int NOT NULL AUTO_INCREMENT COMMENT 'Primary Key',
  `sender_id` int DEFAULT NULL,
  `receiver_id` int DEFAULT NULL,
  `date_t` datetime DEFAULT NULL,
  `content` varchar(1000) DEFAULT NULL,
  `read_t` tinyint(1) DEFAULT '0' COMMENT '消息是否已读',
  `account_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_account3` (`account_id`),
  KEY `fk_1` (`sender_id`),
  KEY `fk_2` (`receiver_id`),
  CONSTRAINT `fk_1` FOREIGN KEY (`sender_id`) REFERENCES `qq_user` (`account_id`),
  CONSTRAINT `fk_2` FOREIGN KEY (`receiver_id`) REFERENCES `qq_user` (`account_id`),
  CONSTRAINT `fk_account3` FOREIGN KEY (`account_id`) REFERENCES `account` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='message table';

CREATE TABLE `todolist` (
  `create_time` datetime DEFAULT NULL COMMENT 'Create Time',
  `usr_name` varchar(255) DEFAULT NULL,
  `entry_name` varchar(50) NOT NULL,
  `content` varchar(100) DEFAULT NULL,
  `ddl` datetime DEFAULT NULL,
  `alarm` enum('yes','no') DEFAULT NULL,
  `complete` tinyint(1) DEFAULT '0',
  `account_id` int NOT NULL,
  PRIMARY KEY (`entry_name`),
  KEY `fk_account5` (`account_id`),
  CONSTRAINT `fk_account5` FOREIGN KEY (`account_id`) REFERENCES `account` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='toDoList table';

 * mysql://stu2000013727:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [6]:
%sql show tables

 * mysql://stu2000013727:***@162.105.146.37:43306
7 rows affected.

[('account',),
 ('bill',),
 ('diary',),
 ('friend',),
 ('message',),
 ('qq_user',),
 ('todolist',)]